.ramen,
.honey,
.fried {
    font-weight: bold;
    font-size: larger;
    background-color: pink;
}

.ramen {
    font-family: 'Times New Roman', Times, serif;
}

.honey {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fried {
   font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: blue;
    font-weight: bold;
}

h3 {
    color: purple;
    font-weight: bold;
    text-decoration: underline;
}

ul,
li {
    color: whitesmoke;
    background-color: black;
}

